.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

div .right {
    float: right;
}

div .left {
    float: left;
}

.btn-group {
    padding: 0 5px 0 5px;
}

.actions-table {
    min-width: 60px;
}
